/* General styling */
body {
    margin: 0;
    font-family: 'Arial', sans-serif;
}

header {
    background-color: #333;
    color: white;
    padding: 10px;
    text-align: center;
}

.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navbar ul {
    padding: 0;
    margin: 0;
}

.navbar li {
    display: inline;
    margin-right: 10px;
}

.navbar a {
    text-decoration: none;
    color: white;
    padding: 10px;
}

/* Home section styling */
.home {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 100vh;
}

.content {
    text-align: left;
}

/* Image styling */
.home .content img {
    width: 15rem; /* Adjust the width as needed */
    height: auto;
    border-radius: 50%; /* Ensures a circular shape */
    object-fit: cover;
    border: 1rem solid var(--rad);
    border-left: rgb(85, 12, 18);
    cursor: pointer;
    margin-left: 10px; /* Adjust the margin as needed */
}

/*
    Written pre-loader, however, it is not fully functional. 
*/
.loader-container {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 10000;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transition: top 0.5s, opacity 0.5s; /* Add transitions for smoother effect */
}

.loader-container img {
    width: 35rem;
}

.loader-container.fade-out {
    top: 110%;
    opacity: 0;
}
