@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap');

/* describe main components used in other CSS attributes */
/* start */
:root{
    --green:#099e47;
    --black:#444;
    --blue:rgb(58, 35, 102);
    --gold:rgb(224, 187, 21);
    --rad:rgb(182, 7, 7);
    --light-black:#666;
    --light-bg:#eee;
    --light-color:#777;
    --bg-color:#e6e6e6;
    --border:.1rem solid rgba(44, 51, 90, 0.2);
    --box-shadow:.4rem .4rem 1rem rgb(16, 15, 15),
                -.4rem -.4rem 1rem #fff;
    --box-shadow-inset:.4rem .4rem 1rem rgb(62, 84, 103) inset,
                      -.4rem -.4rem 1rem #fff inset;
}
*{
    font-family: 'Nunito', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    outline: none; border:none;
    text-decoration: none;
    text-transform: capitalize;
    transition: all .3s linear;
}
/* end */

/* homepage buttons */
/* start */
.btn{
    margin-top: 10px;
    display: inline-block;
    padding:10px 30px;
    border-radius: 6rem;
    cursor: pointer;
    font-size: 17px;
    background-color: var(--blue);
    color:var(--bg-color);
    text-transform: capitalize;
    text-align: center;
    box-shadow: var(--box-shadow);
 }
 
 .btn:hover{
    box-shadow: rgb(110, 2, 111);
    color:rgb(38, 140, 98);
    letter-spacing: .2rem;
 }
/* end */

/* About section present on the second page of the website */
/* start */
.about .row .image{
    text-align: center;
    flex:1 1 25rem;
}

.about .row .image img{
    width:30rem;
    border-radius: 6.2rem 20rem 40% ;
    border:1rem solid rgb(206, 162, 17);
    box-shadow: 0 .5rem 2rem rgb(100, 2, 11);
}
/* end */

/* Home section of the website (First page) */
/* start */
.home{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.home .content{
    position: relative;
    z-index: 10;
    text-align: center;
    padding: 0 1rem;
}

.home .content img{
    width: 100%;
    max-width: 50rem;
    border-radius: 50%;
    border: .5rem solid rgb(206, 162, 17);
    box-shadow: 0 .5rem 2rem rgb(100, 2, 11);

}

.home #particles-js{
    position: absolute;
    top:0; left:0;
    height:100%;
    width:100%;
}

#menu-bars{
    position: fixed;
    z-index: 10000;
    top:1rem; left:1rem;
    padding:1rem 1.5rem;
    border-radius: .5rem;
    color:rgb(206, 206, 206);
    background:rgb(6, 4, 61);
    cursor: pointer;
    font-size: 3rem;
    display: none;
}